{% extends "base.html" %}

{% block title %}Stock{% endblock %}

{% block content %}

<div class="container mt-4">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" style="background-color: black; color: bisque; margin-top: 40px;"
        data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Add Stock
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Stock</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/stock" method="post">
                        <div class="form-group">
                            <label for="stockid">ID</label>
                            <input type="number" class="form-control" id="stockid" name="stockid" required>
                        </div>
                        <div class="form-group">
                            <label for="productid">Product ID</label>
                            <select class="form-control" id="productid" name="productid" required>
                                {% for prod in prods %}
                                <option value="{{ prod[0] }}">{{ prod[0] }} - {{ prod[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" required>
                        </div>
                        <button type="submit" class="btn btn-secondary" style="background-color: black; color: bisque;">Add Stock</button>
                        <button type="button" class="btn btn-secondary" style="background-color: black; color: bisque;" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table id="table" class="table table-striped-columns">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product ID</th>
                <th scope="col">Quantity</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock[0] }}</td>
                <td>{{ stock[1] }}</td>
                <td>{{ stock[2] }}</td>
                <td>{{ stock[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
